@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/Helvetica Neue Medium Extended.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    background: #F7F4F0;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.scrollable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    /* border: solid 1px blue; */
}

ul.project-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    list-style: none;
    width: 90%;
    height: 60%;
    /* border: solid 1px red; */
}

.list-item {
    position: relative;
    width: 100vw;
    height: 100%;  
    font-size: 1.5rem;
    /* border: solid 1px green; */
    cursor: pointer;
    transition: 1s;
}

.list-item:hover {
    opacity: 1 !important;
}

a {
    text-decoration: none;  
    color: #000000;
}

h1 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
}

